<!DOCTYPE html>
<html lang="en">
    <!--
    This page is a simple demonstration of using either JSME
    to display a multi-mol SDF and associated data.

    Copyright David Cogrove, CozChemIx Limited 2017.
    Copyright Kei Taneishi, 2019-2021.

    Distributed under the BSD license, contained in the file license.txt in
    the same directory as this file.

    JSME : Peter Ertl's molecule editor
    http://peter-ertl.com/jsme
    B. Bienfait and P. Ertl, JSME: a free molecule editor in JavaScript,
    J. Cheminformatics 5:24 (2013)) 
    -->
<head>

<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Javascript SDF Viewer</title>
<script type="text/javascript" language="javascript" src="./js/JSME_2017-02-26/jsme/jsme.nocache.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" language="javascript" src="https://d3js.org/d3.v6.js"></script>
<script type="text/javascript" language="javascript" src="main.js"></script>

<style>
#container { margin: 0px 180px; font-family: sans-serif; }
#jsme_container { height: 200px; width: 200px; border: 2px solid #000000; }
#table table, td, th { border-bottom: 1px solid grey; padding: 2px 5px; width: 80px; height: 80px; }
#footer { text-align: center; padding: 20px; }
</style>
</head>
  
<body>

<div id="container">
    <h2 align="center">Javascript SDF Viewer</h2>

    Select SDF to display: <input id="inputFile" type="file" accept=".sdf,.mol" />
    <div id="jsme_container"></div>

    <div>
        <button ng-click="firstMolCounter(10)">First</button>
        <button ng-click="decrementMolCounter(10)">10th Previous</button>
        <button ng-click="decrementMolCounter(1)">Previous</button>
        <button ng-click="incrementMolCounter(1)">Next</button>
        <button ng-click="incrementMolCounter(10)">10th Next</button>
        <button ng-click="lastMolCounter()">Last</button>
    </div>

    <div id="table"></div>

    <div id="footer">Copyright Kei Taneishi, 2014-2021.</div>
</div>

</body>
</html>
